<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watch list</title>
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type='text/css'>
</head>

<body>
    <h2>
         <img alt ="Avatar" class='avatar' src="{{ url_for('static',filename='images/avatar.png')}}" >
        {{name}}'s Watch list
    </h2>
     <ul class='movie-list'>
    <li >
        Page Not Found- 404
        <span class="float-right">
            <a href ="{{  url_for('index') }}"> Go BACKE TO HOME PAGE </a>
             <!-- url_for 函数将视图函数名作为index参数，返回index 函数对应的装饰器@app.route ()
                给函数index 函数绑定的url 根 / -->
        </span>
    </li>
    </ul>
    <img alt="Avatar" class='totoro' src="{{url_for('static',filename ='images/totoro.gif')}}">
    <footer>
        <small>
            &copy;2020
            <a href="http://helloflask.com/tutorial">  Hello flask </a>
        </small>
    </footer>

</body>

</html>