<!DOCTYPE html>
<html lang="en">

{% for message in get_flashed_messages() %}
    <div class='alert' >{{message}}</div>
{% endfor %}

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name='view point' content="width =device-width",initial-scale=1.0>
        <title>{{ name }}'s Watch list</title>
        <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type='text/css'>
    {% endblock %}
</head>

<body>
    <h2>
         <img alt ="Avatar" class='avatar' src="{{ url_for('static',filename='images/avatar.png')}}" >
        {{name}}'s Watch list
    </h2>
    <p> {{movies|length}} Titles </p>


    <nav>
        <ul >
           <li><a href ="{{url_for('index')}}" > Home   </a> </li>
        </ul>
    </nav>>

    {% block content%}  {%endblock%}
    <!--content 块 -->
    <!-- 每个页面包括nav 导航 和子模块可以定义的  content 块 -->

     <footer>
        <small>
            &copy;2020
            <a href="http://helloflask.com/tutorial">  Hello flask </a>
        </small>
    </footer>

</body>

</html>

 <!-- base.html  -->