<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watch list</title>
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type='text/css'>
</head>

<body>
    <h2>
         <img alt ="Avatar" class='avatar' src="{{ url_for('static',filename='images/avatar.png')}}" >
        {{name}}'s Watch list
    </h2>
    <p> {{movies|length}} Titles </p>
    <ul class='movie-list'>
        {# 通过迭代输出 以下序列#}
        {% for movie in movies %}
        <li>
            {{movie.title}}-{{movie.year}}
        </li>
        {% endfor %}
    </ul>
    <img alt="Avatar" class='totoro' src="{{url_for('static',filename ='images/totoro.gif')}}">
    <footer>
        <small>
            &copy;2020
            <a href="http://helloflask.com/tutorial">  Hello flask </a>
        </small>
    </footer>

</body>

</html>